body { 
    background: Powderblue;
      background-size: 100vh
      font-family: Monospace;
    }
    
    .menu {
      background-color: forestgreen;
    }
    
    a {
      color: Navy;
      text-decoration: none;
    }
    
    a:hover { 
    text-decoration: underline;
    }
    
    .menu ul {
    display: flex;
    justify-content: space-around
    }
    
    .menu li {
      list-style: none;
    }
    
    .site-subtitle,
    .site-title {
      color: forestgreen;
      text-align: center;
    }
    
    .site-subtitle {
    font-style:italic 
    }
    